@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-header {
  text-align: center;
  /* background-color: lightsalmon; */
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffe000,
    #799f0c,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffe000,
    #799f0c,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  text-decoration: dotted;
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  margin-top: 0.5em;
  padding: 0.2em 0;
  /* margin-bottom: 1em; */
}

#toolkit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
li {
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

#canvas {
  border: 5px solid grey;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
